.popup {
  display: flex;
  flex-direction: column;

  width: 150px;
  max-height: 400px;
}

.name {
  max-height: 1.5em;
  margin-bottom: 8px;
}

.description {
  max-height: 6em;
  overflow: auto;
  margin: 0 0 8px;
}

.delete {
  background-color: #920909;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 4px;
  color: white;
  cursor: pointer;
}
